
@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Staat';
    src: url('fonts/Staatliches-Regular.ttf') format('truetype');
}

body {
    margin: 0; 
    padding: 0; 
    
    background: url(../images/mainback.jpg) left center no-repeat;
}


body > header {
    width: 100%;
    
}

header {
    font-family: Staat;
    border: black solid 2px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-size: 2em;
    background-color :rgba(7, 25, 77, 0.384);  
    width: 100%; 
}
article {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
    background-color :rgba(137, 184, 147, 0.651);  
    font-family: Roboto-Black;
    font-size: 2em;
}
