

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Staat';
    src: url('fonts/Staatliches-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Outline';
    src: url('fonts/LondrinaOutline-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Meri';
    src: url('fonts/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype');
}
 
html {
    
    margin: 0;
}
body {
    margin: 0; 
    background-color :rgb(255, 238, 0);  


}
header {
    
}

body > header {
   
    font-family: Meri;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    
    background-color :rgb(255, 238, 0);  
    width: 100%; 
    border-bottom: solid black 2px;
    box-shadow: lightslategrey 2px 2px 2px 2px;
}
nav a {
    padding: 1.5%;
    border: black solid 2px;
    

}
.homepic {
    position: absolute;
    width: 75px;
    height: auto;
    padding: 1%;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    margin: 5vw;
}
.box2 {
    visibility: hidden;
    display: none;
}
.box3 {
    visibility: hidden;
    display: none;
}
.box4 {
    visibility: hidden;
    display: none;
}
.homepic:hover {
    opacity: 0;
    transition-duration: .3s;
}
.homepic:first-of-type {
    z-index: 2;
}
.homepicL {
    position: absolute;
    width: 75px;
    height: auto;
    padding: 1%;
    border-radius: 20px 20px 20px 20px;
    margin: 5vw;
    border: 2px solid white;
    background: rgb(209, 209, 209);
}

a {
    font-family: Noto;
    text-decoration: none;
  outline: 0;
  color: #09110d;


          transition: color .5s ease-out, underline .5s ease-out;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-line: underline ;
    color: #353a38;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.box1 {
    font-size: 2em;
    box-sizing: border-box;
    padding-top: 15%;
    text-align: center;
    
}

article img.box2{
    float: left;
    display: block;
    width: 60%;
    height: auto;
}

.name{

    float: left;
    font-size: 1.2em;
    position: fixed;
    right: 0px;
    top: 0px;
}
article  {  
    font-family: Regular;
    margin-top: 3em;
}
/* Fixed sidenav, full height */

a>div { display: none; }
a:hover>div { 
    display: inline; 
    animation: showup 6s;
    }

  /* Style the sidenav links and the dropdown button */
  .sidenav a {
    padding: 5%;
    
    text-decoration: none;
    font-size: 25px;
    color: #292020;
    border: none;
    background: none;
    width: 95%;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover {
    color: #ffffff;
    overflow-x: visible;
  }

  footer {
      background: grey;
      display: block;
  }
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
 
  
  /* Optional: Style the caret down icon */
  
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  div.headtxt {
    padding-top: 3%;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-size: 5.8vw;
  }
  
  div.headtxt:first-of-type {   
    margin-left: auto;                    
animation: showup 2s ease-in;
  }
  
  div.headtxt:nth-of-type(2)>span {
    margin-left: 10px;
    animation: slidein 1s; 

  }
  div.headtxt:last-of-type  {   
      margin-bottom: 10px;
      animation: reveal 8s;
  } 
  .row {
      box-sizing: border-box;
  }
  .column {
      float: left;
      height: 50em;
      border-collapse: collapse;
  }
  
  @keyframes showup {   
      0% {opacity:0;}   
      20% {opacity:.8;}
      100% {opacity:1;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:.8;width:0px;}
      30% {width:460px;}
        100% {opacity:1;}
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        color: red;
    }
    div.headtxt {
        display:inline-block;
        overflow:hidden;
        white-space:nowrap;
        font-size: 4.8vw;
      }
    .row {
        display: none;
    }
    .name {
        display: none;
    }
      div.headtxt:first-of-type {   
                            
    animation: showup 5s ease-in;
      }
    body {
        margin: 0; 
        background-color: rgb(255, 255, 255);
    
    }
    header .ham{
        float: right;
        font-size: 2em;
    }
    
    body > header {
       
        font-family: Meri;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
        color: black;
        font-size: xx-large;
        background-color :rgb(255, 238, 0);  
        width: 100%; 
        border-bottom: solid black 2px;
        box-shadow: lightslategrey 2px 2px 2px 2px;
    }
    .homepic {
        position: absolute;
        width: 75px;
        height: auto;
        padding: 1%;
        border: 2px solid black;
        border-radius: 20px 20px 20px 20px;
        margin: 5vw;
    }
    .box2 {
        visibility: visible;
    }
    .box3 {
        visibility: visible;
        margin-left: 33%;
    }
    .box4 {
        visibility: visible;
        margin-left: 66%;
    }
    .homepic:hover {
        opacity: 0;
        transition-duration: .3s;
    }
    .homepic:first-of-type {
        z-index: 2;
    }
    .homepicL {
        position: absolute;
        width: 75px;
        height: auto;
        padding: 1%;
        border-radius: 20px 20px 20px 20px;
        margin: 5vw;
        border: 2px solid white;
        background: rgb(209, 209, 209);
    }
    
    a {
        font-family: Noto;
        text-decoration: none;
      outline: 0;
      color: #09110d;
     
    
              transition: color .5s ease-out, underline .5s ease-out;
    }
    a:hover{
        cursor: pointer;
        text-decoration: underline;
        text-decoration-line: underline ;
        color: #353a38;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }
    .box1 {
visibility: visible; 
   }
    article {
        display: none;        
    }
    
    article blockquote {
        display: none;
    }
    /* Fixed sidenav, full height */
    .sidenav {
        display: none;
      }
      
      /* Style the sidenav links and the dropdown button */
      .sidenav a {
        display: none;
      }
      
      /* On mouse-over */
      @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:.8;width:0px;}
        30% {width:460px;}
          100% {opacity:1;}
    }
}

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    /* insert styles here */
    body > header {
   
        font-family: Meri;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        color: black;
        
        background-color :rgb(255, 238, 0);  
        width: 100%; 
        border-bottom: solid black 2px;
        box-shadow: lightslategrey 2px 2px 2px 2px;
    }
    nav a {
        padding: 1.5%;
        border: black solid 2px;
        
    
    }
    .homepic {
        position: absolute;
        width: 75px;
        height: auto;
        padding: 1%;
        border: 2px solid black;
        border-radius: 20px 20px 20px 20px;
        margin: 5vw;
    }
    .box2 {
        visibility: hidden;
        display: none;
    }
    .box3 {
        visibility: hidden;
        display: none;
    }
    .box4 {
        visibility: hidden;
        display: none;
    }
    .homepic:hover {
        opacity: 0;
        transition-duration: .3s;
    }
    .homepic:first-of-type {
        z-index: 2;
    }
    .homepicL {
        position: absolute;
        width: 75px;
        height: auto;
        padding: 1%;
        border-radius: 20px 20px 20px 20px;
        margin: 5vw;
        border: 2px solid white;
        background: rgb(209, 209, 209);
    }
    
    a {
        font-family: Noto;
        text-decoration: none;
      outline: 0;
      color: #09110d;
    
    
              transition: color .5s ease-out, underline .5s ease-out;
    }
    a:hover{
        cursor: pointer;
        text-decoration: underline;
        text-decoration-line: underline ;
        color: #353a38;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }
    .box1 {
        font-size: 2em;
        box-sizing: border-box;
        padding-top: 5%;
        text-align: center;
        
    }
    
    article img.box2{
        float: left;
        display: block;
        width: 60%;
        height: auto;
    }
    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:.8;width:0px;}
        30% {width:560px;}
          100% {opacity:1;}
    }
    .name{
    
        float: left;
        font-size: 1.2em;
        position: fixed;
        right: 0px;
        top: 0px;
    }
    article  {  
        font-family: Regular;
        margin-top: 3em;
    }
    /* Fixed sidenav, full height */
    
    a>div { display: none; }
    a:hover>div { 
        display: inline; 
        animation: showup 6s;
        }
    
      /* Style the sidenav links and the dropdown button */
      .sidenav a {
        
        text-decoration: none;
        font-size: 25px;
        color: #292020;
        border: none;
        background: none;
        width: 95%;
        cursor: pointer;
        outline: none;
      }
      
      /* On mouse-over */
      .sidenav a:hover {
        color: #ffffff;
        overflow-x: visible;
      }
    
      footer {
          background: grey;
          display: block;
      }
}